# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Sparsh Aggarwal\Desktop\Sparsh Aggarwal\My courses CS\Python\100DaysOfCodeAngelaYu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
